h1{
     text-align: center;
     color: rgb(0, 0, 255);
}
div.backgroun {
  background: url(images/tierra.png) repeat; 
  border: 2px solid black;
}
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
