body.one  {
   background-image: url("images/mapa hawaii.svg");
   background-repeat: repeat-y;
}
body.uno  {
   background-image: url("images/valenciana.svg");
   background-repeat: repeat-y;
}
li.dropdown {
  display: inline-block;
   text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;

}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;

}

ul {
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
 
}

p.uno{
  display: block;
  color: white;

   padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  text-decoration: none;
  border: 3px solid black;
  outline-style: solid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #333;
}

p.ex3 {
  border: 3px solid black;
  outline-style: solid;
  margin-left: 40%;
  margin-right: 40%;
}

h2 {
 
 
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 40px;

 
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 1.3;
}
td.one{
  margin-top: 70px;
  margin-left: 40%;
  margin-right: 60%;
  border: 0px solid black;

}
td.uno{
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 40%;
  border: 0px solid black;

}
