h1.montefuji {
   background-color:grey;
   text-align: center;
   color: pink      
} 
#div4 {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 200px;
  text-align: justify;
  background-color: white
}
#div5 {
  border: 1px solid black;
  padding: 10px;
  margin: 100;
  margin-left: 80%;
  width: 200px;
  height: 200px;
  text-align: justify;
  background-color: white
}
td.one {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 60%; 
}
td.two {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 70%; 
}

body {
  background-image: url(images/mapajapon.png);
  background-repeat: repeat-y; 
}	
	
h1.castillo {
   background-color:grey;
   text-align: center;
   color: green      
} 
body.castillo {
  background-image: url(images/fondocastillo.jpg);
  background-repeat: repeat-y; 
}
